html,
body {
  background-color: #ede7f6;
  /* materializecss deep-purple lighten-5 */
}

.checkbox-orange[type='checkbox'].filled-in:checked + label:after {
  border: 2px solid #ffa726;
  background-color: #ffa726;
}

.navbar-fixed nav {
  right: 0;
}

nav i.material-icons.tiny {
  font-size: 1rem;
}

nav i.material-icons.small {
  font-size: 2rem;
}

nav i.material-icons.medium {
  font-size: 4rem;
}

nav i.material-icons.large {
  font-size: 6rem;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 5px !important;
  line-height: 36px;
}

label {
  font: red;
  /* trying to change the aspect of the kid names in front of checkboxes
  I want them black and bold */
}
